@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";

  src: url("../fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Medium";

  src: url("../fonts/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MachineC";

  src: url("../fonts/10733.woff") format("woff"), /* Modern Browsers */
    url("../fonts/10733.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}